.vscode/*
**/Dataset/**
*.ipynb
*.chkpt
**/__pycache__/**
Gravitar/*.png
Gravitar/video*
**/tmp/**
Pegasus/Diagrams

*.aux
*.bcf
*.fdb_latexmk
*.fls
*.log
*.pdf
*.run.xml
*.bbl
*.blg
*.out
*.synctex.gz